@charset "UTF-8";
.color-gray-0 {
  color: #ffffff;
}

.color-gray-50 {
  color: #f9f9f9;
}

.color-gray-100 {
  color: #e5e5e5;
}

.color-gray-150 {
  color: #d7d7d7;
}

.color-gray-200 {
  color: #cacaca;
}

.color-gray-300 {
  color: #b0b0b0;
}

.color-gray-400 {
  color: #959595;
}

.color-gray-500 {
  color: #7b7b7b;
}

.color-gray-600 {
  color: #626262;
}

.color-gray-700 {
  color: #4c4c4c;
}

.color-gray-800 {
  color: #313131;
}

.color-gray-850 {
  color: #222222;
}

.color-gray-900 {
  color: #191919;
}

.color-gray-1000 {
  color: #000000;
}

.color-primary-20 {
  color: #f8f7ff;
}

.color-primary-50 {
  color: #f0e5fd;
}

.color-primary-100 {
  color: #e0ccfc;
}

.color-primary-200 {
  color: #c199f8;
}

.color-primary-300 {
  color: #a366f5;
}

.color-primary-400 {
  color: #8433f1;
}

.color-primary-500 {
  color: #6500ee;
}

.color-primary-600 {
  color: #5100be;
}

.color-primary-700 {
  color: #3d008f;
}

.color-primary-800 {
  color: #28005f;
}

.color-primary-900 {
  color: #140030;
}

.color-success-50 {
  color: #e9f8f2;
}

.color-success-100 {
  color: #d4f2e5;
}

.color-success-150 {
  color: #beebd8;
}

.color-success-200 {
  color: #a8e4cb;
}

.color-success-300 {
  color: #7dd7b1;
}

.color-success-400 {
  color: #51c997;
}

.color-success-500 {
  color: #26bc7d;
}

.color-success-600 {
  color: #1e9664;
}

.color-success-700 {
  color: #17714b;
}

.color-success-800 {
  color: #0f4b32;
}

.color-success-850 {
  color: #0b3826;
}

.color-success-900 {
  color: #082619;
}

.color-warning-50 {
  color: #fff5e5;
}

.color-warning-100 {
  color: #ffebcc;
}

.color-warning-150 {
  color: #ffe0b3;
}

.color-warning-200 {
  color: #ffd699;
}

.color-warning-300 {
  color: #ffc266;
}

.color-warning-400 {
  color: #ffad33;
}

.color-warning-500 {
  color: #ff9900;
}

.color-warning-600 {
  color: #cc7a00;
}

.color-warning-700 {
  color: #995c00;
}

.color-warning-800 {
  color: #663d00;
}

.color-warning-850 {
  color: #4d2e00;
}

.color-warning-900 {
  color: #331f00;
}

.color-error-50 {
  color: #fff2ef;
}

.color-error-100 {
  color: #f3d7d0;
}

.color-error-150 {
  color: #ecc2b9;
}

.color-error-200 {
  color: #e6aea1;
}

.color-error-300 {
  color: #da8673;
}

.color-error-400 {
  color: #cd5d44;
}

.color-error-500 {
  color: #c13515;
}

.color-error-600 {
  color: #9a2a11;
}

.color-error-700 {
  color: #74200d;
}

.color-error-800 {
  color: #4d1508;
}

.color-error-850 {
  color: #3a1006;
}

.color-error-900 {
  color: #270b04;
}

.color-secondary-50 {
  color: #ffefef;
}

.color-secondary-100 {
  color: #ffdede;
}

.color-secondary-150 {
  color: #ffcece;
}

.color-secondary-200 {
  color: #ffbdbd;
}

.color-secondary-300 {
  color: #ff9d9d;
}

.color-secondary-400 {
  color: #ff7c7c;
}

.color-secondary-500 {
  color: #ff5b5b;
}

.color-secondary-600 {
  color: #d64949;
}

.color-secondary-700 {
  color: #ad3737;
}

.color-secondary-800 {
  color: #842424;
}

.color-secondary-850 {
  color: #701b1b;
}

.color-secondary-900 {
  color: #5b1212;
}

.bg-gray-0 {
  background-color: #ffffff;
}

.bg-gray-50 {
  background-color: #f9f9f9;
}

.bg-gray-100 {
  background-color: #e5e5e5;
}

.bg-gray-150 {
  background-color: #d7d7d7;
}

.bg-gray-200 {
  background-color: #cacaca;
}

.bg-gray-300 {
  background-color: #b0b0b0;
}

.bg-gray-400 {
  background-color: #959595;
}

.bg-gray-500 {
  background-color: #7b7b7b;
}

.bg-gray-600 {
  background-color: #626262;
}

.bg-gray-700 {
  background-color: #4c4c4c;
}

.bg-gray-800 {
  background-color: #313131;
}

.bg-gray-850 {
  background-color: #222222;
}

.bg-gray-900 {
  background-color: #191919;
}

.bg-gray-1000 {
  background-color: #000000;
}

.bg-primary-20 {
  background-color: #f8f7ff;
}

.bg-primary-50 {
  background-color: #f0e5fd;
}

.bg-primary-100 {
  background-color: #e0ccfc;
}

.bg-primary-200 {
  background-color: #c199f8;
}

.bg-primary-300 {
  background-color: #a366f5;
}

.bg-primary-400 {
  background-color: #8433f1;
}

.bg-primary-500 {
  background-color: #6500ee;
}

.bg-primary-600 {
  background-color: #5100be;
}

.bg-primary-700 {
  background-color: #3d008f;
}

.bg-primary-800 {
  background-color: #28005f;
}

.bg-primary-900 {
  background-color: #140030;
}

.bg-success-50 {
  background-color: #e9f8f2;
}

.bg-success-100 {
  background-color: #d4f2e5;
}

.bg-success-150 {
  background-color: #beebd8;
}

.bg-success-200 {
  background-color: #a8e4cb;
}

.bg-success-300 {
  background-color: #7dd7b1;
}

.bg-success-400 {
  background-color: #51c997;
}

.bg-success-500 {
  background-color: #26bc7d;
}

.bg-success-600 {
  background-color: #1e9664;
}

.bg-success-700 {
  background-color: #17714b;
}

.bg-success-800 {
  background-color: #0f4b32;
}

.bg-success-850 {
  background-color: #0b3826;
}

.bg-success-900 {
  background-color: #082619;
}

.bg-warning-50 {
  background-color: #fff5e5;
}

.bg-warning-100 {
  background-color: #ffebcc;
}

.bg-warning-150 {
  background-color: #ffe0b3;
}

.bg-warning-200 {
  background-color: #ffd699;
}

.bg-warning-300 {
  background-color: #ffc266;
}

.bg-warning-400 {
  background-color: #ffad33;
}

.bg-warning-500 {
  background-color: #ff9900;
}

.bg-warning-600 {
  background-color: #cc7a00;
}

.bg-warning-700 {
  background-color: #995c00;
}

.bg-warning-800 {
  background-color: #663d00;
}

.bg-warning-850 {
  background-color: #4d2e00;
}

.bg-warning-900 {
  background-color: #331f00;
}

.bg-error-50 {
  background-color: #fff2ef;
}

.bg-error-100 {
  background-color: #f3d7d0;
}

.bg-error-150 {
  background-color: #ecc2b9;
}

.bg-error-200 {
  background-color: #e6aea1;
}

.bg-error-300 {
  background-color: #da8673;
}

.bg-error-400 {
  background-color: #cd5d44;
}

.bg-error-500 {
  background-color: #c13515;
}

.bg-error-600 {
  background-color: #9a2a11;
}

.bg-error-700 {
  background-color: #74200d;
}

.bg-error-800 {
  background-color: #4d1508;
}

.bg-error-850 {
  background-color: #3a1006;
}

.bg-error-900 {
  background-color: #270b04;
}

.bg-secondary-50 {
  background-color: #ffefef;
}

.bg-secondary-100 {
  background-color: #ffdede;
}

.bg-secondary-150 {
  background-color: #ffcece;
}

.bg-secondary-200 {
  background-color: #ffbdbd;
}

.bg-secondary-300 {
  background-color: #ff9d9d;
}

.bg-secondary-400 {
  background-color: #ff7c7c;
}

.bg-secondary-500 {
  background-color: #ff5b5b;
}

.bg-secondary-600 {
  background-color: #d64949;
}

.bg-secondary-700 {
  background-color: #ad3737;
}

.bg-secondary-800 {
  background-color: #842424;
}

.bg-secondary-850 {
  background-color: #701b1b;
}

.bg-secondary-900 {
  background-color: #5b1212;
}

p,
span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  p,
  span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991px) {
  h1 {
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 120%;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991px) {
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 120%;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 120%;
  }
}

h5 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991px) {
  h5 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 120%;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991px) {
  h6 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
  }
}

.caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 991px) {
  .caption {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 120%;
  }
}

button,
.btn,
input[type=submit] {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-width: 6.25rem;
  transition: background-color 0.3s ease-in-out;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  /* Large */
  /* Extra Large */
  /* primary */
  background-color: #6500ee;
  color: #ffffff;
  /* Secondary */
  /* Tertiary */
}
@media (max-width: 991px) {
  button,
  .btn,
  input[type=submit] {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
  }
}
button i,
.btn i,
input[type=submit] i {
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1.25rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.icon-only,
.btn.icon-only,
input[type=submit].icon-only {
  padding: 0.5rem 0.5rem;
  min-width: auto;
}
button.btn-l,
.btn.btn-l,
input[type=submit].btn-l {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  border-radius: 1.25rem;
}
@media (max-width: 991px) {
  button.btn-l,
  .btn.btn-l,
  input[type=submit].btn-l {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}
button.btn-l i,
.btn.btn-l i,
input[type=submit].btn-l i {
  height: 1.375rem;
  width: 1.375rem;
  font-size: 1.375rem !important;
}
button.btn-l.icon-only,
.btn.btn-l.icon-only,
input[type=submit].btn-l.icon-only {
  padding: 0.75rem 0.75rem;
}
button.btn-xl,
.btn.btn-xl,
input[type=submit].btn-xl {
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  border-radius: 1.5rem;
}
@media (max-width: 991px) {
  button.btn-xl,
  .btn.btn-xl,
  input[type=submit].btn-xl {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}
button.btn-xl i,
.btn.btn-xl i,
input[type=submit].btn-xl i {
  height: 1.375rem;
  width: 1.375rem;
  font-size: 1.375rem !important;
}
button.btn-xl.icon-only,
.btn.btn-xl.icon-only,
input[type=submit].btn-xl.icon-only {
  padding: 1rem 1rem;
}
button i,
.btn i,
input[type=submit] i {
  color: #ffffff;
}
@media (hover: hover) {
  button:hover,
  .btn:hover,
  input[type=submit]:hover {
    background-color: #5100be;
  }
}
button:disabled, button.loading,
.btn:disabled,
.btn.loading,
input[type=submit]:disabled,
input[type=submit].loading {
  background-color: #e0ccfc !important;
  cursor: default;
}
button.btn-secondary,
.btn.btn-secondary,
input[type=submit].btn-secondary {
  background-color: #ffffff;
  border-color: #d7d7d7;
  color: #191919;
}
button.btn-secondary i,
.btn.btn-secondary i,
input[type=submit].btn-secondary i {
  color: #e5e5e5;
}
@media (hover: hover) {
  button.btn-secondary:hover,
  .btn.btn-secondary:hover,
  input[type=submit].btn-secondary:hover {
    background-color: #f9f9f9;
  }
}
button.btn-secondary:disabled, button.btn-secondary.loading,
.btn.btn-secondary:disabled,
.btn.btn-secondary.loading,
input[type=submit].btn-secondary:disabled,
input[type=submit].btn-secondary.loading {
  background-color: #ffffff !important;
  color: #d7d7d7;
}
button.btn-secondary:disabled i, button.btn-secondary.loading i,
.btn.btn-secondary:disabled i,
.btn.btn-secondary.loading i,
input[type=submit].btn-secondary:disabled i,
input[type=submit].btn-secondary.loading i {
  color: #d7d7d7;
}
button.btn-tertiary,
.btn.btn-tertiary,
input[type=submit].btn-tertiary {
  background-color: transparent;
  color: #7b7b7b;
}
button.btn-tertiary i,
.btn.btn-tertiary i,
input[type=submit].btn-tertiary i {
  color: #7b7b7b;
}
@media (hover: hover) {
  button.btn-tertiary:hover,
  .btn.btn-tertiary:hover,
  input[type=submit].btn-tertiary:hover {
    background-color: #f9f9f9;
  }
}
button.btn-tertiary:disabled,
.btn.btn-tertiary:disabled,
input[type=submit].btn-tertiary:disabled {
  background-color: transparent !important;
  color: #d7d7d7;
}
button.btn-tertiary:disabled i,
.btn.btn-tertiary:disabled i,
input[type=submit].btn-tertiary:disabled i {
  color: #d7d7d7;
}
button.btn-tertiary.loading,
.btn.btn-tertiary.loading,
input[type=submit].btn-tertiary.loading {
  background-color: transparent !important;
}

a,
.link {
  text-decoration: none;
  /* Small */
  /* Secondary */
  /* 沒有底線 */
}
a *,
.link * {
  color: #6500ee;
  transition: color 0.3s ease-in-out;
}
a span,
.link span {
  text-decoration: underline;
}
a i,
.link i {
  font-size: 1.375rem !important;
  transform: translate(0, 0.25rem);
  margin-right: 0.25rem;
}
@media (hover: hover) {
  a:hover *,
  .link:hover * {
    color: #5100be;
  }
}
a.link-s *,
.link.link-s * {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 991px) {
  a.link-s *,
  .link.link-s * {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 120%;
  }
}
a.link-s i,
.link.link-s i {
  font-size: 1rem !important;
  transform: translate(0, 0.1875rem);
}
a.link-secondary *,
.link.link-secondary * {
  color: #191919;
}
a.link-noline span,
.link.link-noline span {
  text-decoration: none;
}
@media (hover: hover) {
  a.link-noline span:hover,
  .link.link-noline span:hover {
    text-decoration: underline;
  }
}

hr,
.divider {
  padding: 0.5rem 0rem;
  width: 100%;
}
hr::before,
.divider::before {
  content: "";
  display: block;
  height: 0.0625rem;
  width: 100%;
  background-color: #e5e5e5;
}
hr.vertical,
.divider.vertical {
  padding: 0rem 0.5rem;
  width: auto;
  height: 100%;
}
hr.vertical::before,
.divider.vertical::before {
  width: 0.0625rem;
  height: 100%;
}

body {
  margin: 0;
}

.container {
  margin: 0;
  padding: 2.5rem 1rem 8.5rem;
  color: #191919;
  background-color: #f9f9f9;
  font-family: "Noto Sans TC", Arial, sans-serif;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  margin: 1rem 0;
}
hr::before {
  background-color: #191919;
}

.logo {
  width: 12.5rem;
  max-width: 50%;
  margin: 2rem auto;
  text-align: center;
}

.content {
  max-width: 37.5rem;
  margin: auto;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
}

h4 {
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
  }
}
p.serial {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #7b7b7b;
}
@media (max-width: 991px) {
  p.serial {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}

.item {
  display: flex;
  gap: 1rem;
}
.item-img {
  width: 7.5rem;
  aspect-ratio: 1;
}
.item-info {
  flex-grow: 1;
}

h5 {
  margin: 0.5rem 0rem;
}

.point {
  display: flex;
  align-items: center;
}
.point img {
  width: 1.875rem;
  aspect-ratio: 1;
  margin-right: 0.5rem;
}
.point h5 {
  display: inline;
}

.details > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.details > div p {
  color: #7b7b7b;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .details > div p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.details > div p + p {
  color: #191919;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .details > div p + p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}

button {
  margin-top: 1rem;
  width: 100%;
}

.footer {
  color: #7b7b7b;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
  margin-top: 2rem;
}
@media (max-width: 991px) {
  .footer {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 120%;
  }
}