@import "reset";
@import "variable/variable";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Varela&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: px(5);
  background-color: color(gray-0);
  @include rounded(100);
}

::-webkit-scrollbar-thumb {
  width: px(5);
  background-color: color(gray-150);
  @include rounded(100);
}

body {
  color: color(gray-900);
  background-color: color(primary-50);

  &:has(.overlay) {
    overflow: hidden;
  }
}

@import "components/button";
@import "components/badge";
@import "components/datepicker";
@import "components/divider";
@import "components/input";
@import "components/overlay";
@import "components/popup";
@import "components/select";
@import "components/tab";

@import "layout/footer";
@import "layout/header";
@import "layout/layout";
@import "layout/main";
@import "layout/mobile-menu";
@import "layout/sidebar";

@import "pages/index";
@import "pages/mypoints";
@import "pages/mytickets";
@import "pages/member";
@import "pages/regulations";
