
    <div class="info">
      <!-- <div class="logo"><a href="index.html"><img src="images/Logo-dark.svg"></a></div> -->
      <ul class="menu">
        <li>條款</li>
        <li>
          <a class="footer-textlink" href="https://membercenter.funone.io/Privacy" target="_blank">
            <span>隱私權政策 <i class="material-symbols-rounded">arrow_outward</i></span>
          </a>
        </li>
        <li>
          <a class="footer-textlink" href="https://membercenter.funone.io/ServiceTerms" target="_blank">
            <span>服務條款 <i class="material-symbols-rounded">arrow_outward</i></span>
          </a>
        </li>
        <li>
          <a class="footer-textlink" href="regulations.html">
            <span>紅利規章</span>
          </a>
        </li>
      </ul>
      <ul class="menu">
        <li>客戶服務</li>
        <li>
          <a class="footer-textlink" href="http://tw.gashpoint.com/Help/HelpB2C/" target="_blank">
            <span>線上客服 <i class="material-symbols-rounded">arrow_outward</i></span>
          </a>
        </li>
        <li>
          <a class="footer-textlink" href="tel:0282261305">
            <span>02-8226-1305</span>
          </a>
        </li>
        <li>
          <a class="footer-textlink" href="mailto:b2ccs@gashpoint.com">
            <span>b2ccs@gashpoint.com</span>
          </a>
        </li>
      </ul>
      <ul class="menu">
        <li>客戶服務</li>
        <li>
          <a class="footer-textlink" href="https://games.funone.io/" target="_blank">
            <span>FunOne Games <i class="material-symbols-rounded">arrow_outward</i></span>
          </a>
        </li>
        <li>
          <a class="footer-textlink" href="https://tickets.funone.io/" target="_blank">
            <span>FunOne Tickets <i class="material-symbols-rounded">arrow_outward</i></span>
          </a>
        </li>
      </ul>
    </div>
    <copyright>2025 GASH POINT Co., Ltd. All Rights Reserved.</copyright>

    <div id="go-top">
      <i class="material-symbols-outlined">north</i>
    </div>

    <script src="js/footer.js"></script>