.mypoints {
  background-color: color(gray-900);
  @include rounded(20);
  display: flex;
  flex-direction: column;
  gap: px(20);
  padding: px(32);
  color: color(gray-0);

  .points {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: px(8);
    @include fontRWD(h4);

    .coin {
      width: px(40);
      height: px(40);
      align-self: center;
    }

    span {
      @include fontRWD(body4);
    }
  }

  .expired-info {
    display: flex;
    gap: px(32);
    padding: px(0) px(12);
    @include fontRWD(caption);

    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: px(8);

      &.divider {
        flex: 0;
      }
    }
  }

  @include max-to(mobile) {
    padding: px(32) px(16);

    .expired-info {
      gap: px(8);
      padding: px(0);
    }
  }
}

.note {
  padding: px(16);
  @include rounded(16);
  background-color: color(gray-50);
  color: color(gray-900);
  @include fontRWD(body4);
  text-align: center;
  margin-bottom: px(16);
}

ul.point-list {
  > li {
    padding: px(20) px(0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: px(32);
    border-bottom: px(1) solid color(gray-150);

    .desc {
      p {
        @include fontRWD(body3);
      }

      span {
        @include fontRWD(body4);
        color: color(gray-400);
        position: relative;
        display: inline-block;

        + span {
          padding-left: px(16);
          margin-left: px(-6);

          &::before {
            position: absolute;
            content: "";
            display: block;
            width: px(1);
            height: px(20);
            background-color: color(gray-100);
            top: 50%;
            left: px(8);
            transform: translateY(-50%);
          }
        }
      }
    }

    .coin {
      height: px(24);
      min-width: fit-content;
      display: flex;
      align-items: center;
      gap: px(8);
      @include fontRWD(h6);
    }
  }

  &.deduction {
    li {
      .coin {
        color: color(error-500);
      }
    }
  }

  + button {
    width: 100%;
    text-align: center;
    margin-top: px(16);
  }
}

.empty {
  text-align: center;

  p {
    @include fontRWD(body3);
    margin: px(16) px(0);
  }

  button {
    margin: auto;
  }
}
