.ticket-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: spacing(16);

  li {
    @include rounded(20);
    background-color: color(primary-500);
    display: flex;
    height: px(150);
    cursor: pointer;

    .ticket-info {
      flex: 1;
      border: px(3) solid color(primary-600);
      background-color: color(gray-0);
      @include rounded(20);
      display: flex;
      overflow: hidden;

      .ticket-img {
        aspect-ratio: 1;
        height: 100%;
        background-image: url("../images/product/Product-default.png");
        background-repeat: no-repeat;
        background-size: cover;

        &:has(img) {
          background-image: none;
        }
      }

      .ticket-desc {
        background-image: url("../images/divider.png");
        background-position: left;
        background-repeat: repeat-y;
        padding: spacing(16);
        display: flex;
        flex-direction: column;
        gap: spacing(16);

        dl {
          display: flex;
          flex-wrap: wrap;
          gap: spacing(4) spacing(16);
          @include fontRWD(body4);

          dt {
            flex: px(64);
            color: color(gray-500);
          }

          dd {
            flex: calc(100% - px(80));
            color: color(gray-900);
          }
        }
      }
    }

    .ticket-badge {
      color: color(gray-0);
      writing-mode: vertical-lr;
      flex: px(56);
      max-width: px(56);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.invalid {
    li {
      background-color: color(gray-0);
      border: px(3) solid color(gray-300);
      cursor: default;

      .ticket-info {
        border: none;

        .ticket-img {
          opacity: 0.6;
        }

        .ticket-desc {
          opacity: 0.4;
        }
      }

      .ticket-badge {
        padding-right: spacing(16);
        flex: px(116);
        max-width: px(116);
      }
    }
  }

  + button {
    width: 100%;
    text-align: center;
    margin-top: spacing(16);
  }

  @include max-to(mobile) {
    li {
      position: relative;

      .ticket-info {
        .ticket-img {
          display: none;
        }

        .ticket-desc {
          background-image: none;
          justify-content: center;
        }
      }
    }

    &.invalid {
      li {
        overflow: hidden;
        height: auto;

        .ticket-badge {
          width: px(100);
          height: px(100);
          padding: spacing(0);
          position: absolute;
          top: 50%;
          left: 65dvw;
          //   right: px(-32);
          transform: translateY(-50%);
        }
      }
    }
  }
}
