.ticket-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: spacing(16);

  li {
    @include rounded(20);
    background-color: color(primary-500);
    display: flex;
    height: px(150);
    cursor: pointer;

    .ticket-info {
      flex: 1;
      border: px(3) solid color(primary-600);
      background-color: color(gray-0);
      @include rounded(20);
      display: flex;
      overflow: hidden;

      .ticket-img {
        aspect-ratio: 1;
        height: 100%;
        background-image: url("../images/product/Product-default.png");
        background-repeat: no-repeat;
        background-size: cover;

        &:has(img) {
          background-image: none;
        }
      }

      .ticket-desc {
        background-image: url("../images/divider_v.svg");
        background-position: left;
        background-repeat: repeat-y;
        padding: spacing(16);
        display: flex;
        flex-direction: column;
        gap: spacing(16);

        dl {
          display: flex;
          flex-wrap: wrap;
          gap: spacing(4) spacing(16);
          @include fontRWD(body4);

          dt {
            flex: px(64);
            color: color(gray-500);
          }

          dd {
            flex: calc(100% - px(80));
            color: color(gray-900);
          }
        }
      }
    }

    .ticket-badge,
    .ticket-stamp {
      color: color(gray-0);
      writing-mode: vertical-lr;
      flex: px(56);
      max-width: px(56);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ticket-stamp {
      padding-right: spacing(16);
      flex: px(116);
      max-width: px(116);
    }
  }

  &.invalid {
    li {
      background-color: color(gray-0);
      border: px(3) solid color(gray-300);

      .ticket-info {
        border: none;

        .ticket-img {
          opacity: 0.6;
        }

        .ticket-desc {
          opacity: 0.4;
        }
      }
    }
  }

  + button {
    width: 100%;
    text-align: center;
    margin-top: spacing(16);
  }

  @include max-to(mobile) {
    li {
      position: relative;

      .ticket-info {
        .ticket-img {
          display: none;
        }

        .ticket-desc {
          background-image: none;
          justify-content: center;
        }
      }

      .ticket-stamp {
        width: px(100);
        height: px(100);
        padding: spacing(0);
        position: absolute;
        top: 50%;
        // left: 65dvw;
        right: spacing(-12);
        transform: translateY(-50%);
      }
    }

    &.invalid {
      li {
        overflow: hidden;
        height: auto;
      }
    }
  }
}

.product-content {
  background-color: color(primary-20);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: spacing(16);

  .product-code,
  .product-info {
    background-color: color(gray-0);
    display: flex;
  }

  .product-code {
    // min-height: px(240);
    padding: spacing(20) spacing(16);
    justify-content: center;
    flex-wrap: wrap;
    gap: spacing(64);

    .barcode {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: spacing(2);
      cursor: pointer;

      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: spacing(2);

        &::after {
          font-family: "Material Icons";
          content: "\e145";
          font-weight: 100;
          height: px(26);
          width: px(26);
          font-size: fontsize(18);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: px(1) solid color(gray-150);
          @include rounded(100);
        }
      }
    }
  }

  .product-info {
    padding: spacing(32) spacing(16);
    gap: spacing(8);
    flex-wrap: wrap;
    position: relative;

    .product-title {
      display: flex;
      gap: spacing(16);
      align-items: center;
      height: px(100);
      flex: 100%;

      img {
        aspect-ratio: 1;
      }
    }

    .stamp {
      display: none;
      position: absolute;
      right: px(16);
      top: px(110);
      width: px(100);
      height: px(100);
    }

    &.product-details {
      justify-content: center;
      gap: spacing(16);

      ul {
        flex: 100%;

        li {
          display: flex;
          gap: spacing(16);
          padding: spacing(12) spacing(0);
          border-bottom: px(1) solid color(gray-150);

          span {
            color: color(gray-500);
          }

          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  &.used,
  &.expired {
    .product-code {
      .barcode {
        cursor: default;
      }

      img,
      span {
        opacity: 0.4;

        &::after {
          display: none;
        }
      }
    }

    .product-info {
      .stamp {
        display: inline;
      }
    }
  }
}

#barcode-full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: color(gray-0);
  z-index: 5;
  padding: spacing(92) spacing(120) spacing(60);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: spacing(64);

  .barcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: px(480);

    img {
      height: px(186);
    }
  }

  i {
    width: px(32);
    height: px(32);
    font-size: fontsize(24);
    @include rounded(100);
    background-color: color(gray-50);
    color: color(gray-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.show {
    display: flex;
  }

  @include max-to(mobile) {
    .barcode {
      transform: rotate(90deg);
    }

    i {
      position: fixed;
      top: px(16);
      right: px(16);
    }
  }
}

.popup-ticket {
  @include max-to(mobile) {
    &.bottom_sheet {
      padding: spacing(60) spacing(0) spacing(0);

      .popup-container {
        padding: spacing(0);
      }

      &.show {
        bottom: 0;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(color(gray-1000), 0.75);
  z-index: 4;
}
