.other-pages {
  align-items: center;
  justify-content: space-between;
  width: px(720);
  max-width: calc(dvw(100) - px(40));
  min-height: calc(dvh(100) - px(243));

  .desc {
    display: flex;
    flex-direction: column;
    gap: spacing(20);
    color: color(gray-600);

    h3,
    h4 {
      color: color(gray-900);
      margin-bottom: spacing(8);
    }

    ul {
      margin: spacing(-20) spacing(0) spacing(0) spacing(20);
      list-style-type: disc;
    }
  }

  .denied {
    display: flex;
    flex-direction: column;
    gap: spacing(20);
    color: color(gray-600);
    flex: 1;

    h3,
    h4 {
      color: color(gray-900);
      margin-bottom: spacing(8);
    }
  }

  @include max-to(mobile) {
    .desc {
      flex: 1;
      padding-top: spacing(80);
    }

    .denied {
      padding-top: spacing(80);
    }

    .error-img {
      display: none;
    }
  }
}
