.product {
  .main-info {
    display: flex;
    gap: px(40);

    .product-img {
      width: px(430);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .product-info {
      display: flex;
      flex-direction: column;
      gap: px(40);
      flex-grow: 1;

      .name {
        p {
          color: color(gray-500);
          margin-bottom: px(8);
        }
      }

      .points {
        display: flex;
        align-items: center;
        gap: px(8);

        img {
          width: px(30);
          height: px(30);
        }

        h5 {
          span {
            @include fontRWD(h5);
          }
        }
      }

      .exchange {
        display: flex;
        align-items: center;
        gap: px(40);

        .counting {
          display: flex;
          align-items: center;
          gap: px(16);
        }

        button {
          flex-grow: 1;
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: px(16);
  }

  .confirm-title {
    text-align: center;

    p {
      margin-top: px(16);
      color: color(gray-500);
    }
  }

  .receipt {
    display: flex;
    flex-direction: column;
    gap: px(20);

    .confirm-product,
    .confirm-detail {
      display: flex;
      padding: px(32);
      background-color: color(gray-50);
      @include rounded(16);
    }

    .confirm-product {
      gap: px(40);
      position: relative;

      .product-img {
        flex-shrink: 0;
        width: px(200);
        aspect-ratio: 1;
        overflow: hidden;
        @include rounded(16);
      }

      .product-info {
        display: flex;
        flex-direction: column;
        gap: px(40);
        flex-grow: 1;
        word-break: break-all;

        .name {
          p {
            color: color(gray-500);
            margin-bottom: px(8);
          }
        }

        .points {
          display: flex;
          align-items: center;
          gap: px(8);

          img {
            width: px(30);
            height: px(30);
          }
        }
      }

      .quantity {
        position: absolute;
        right: px(32);
        bottom: px(32);
        padding: px(8) px(16);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: px(4);
        background-color: color(primary-50);
        color: color(primary-500);
        @include rounded(20);
      }
    }

    .confirm-detail {
      gap: px(16);
      flex-direction: column;

      .content {
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: px(8);

          .label {
            color: color(gray-500);
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    gap: px(40);

    button {
      flex: 1;
    }
  }

  #exchange-failed,
  #exchange-success {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: px(16);

    .exchange-img,
    .exchange-info,
    .exchange-action {
      text-align: center;
    }

    .exchange-img {
      width: px(100);
      aspect-ratio: 1;
      margin: 0 auto;
    }

    .exchange-info {
      p {
        color: color(gray-500);
        margin-top: px(8);
      }
    }
  }

  #exchange-failed {
    min-height: calc(dvh(100) - px(200));
    width: 100%;
    padding-top: px(130);

    .exchange-img,
    .exchange-info,
    .exchange-action {
      text-align: center;
    }

    .exchange-info {
      p {
        color: color(gray-500);
        margin-top: px(8);
      }
    }

    .exchange-action {
      button {
        margin: 0 auto;
      }
    }
  }

  #exchange-success {
    gap: px(40);
    margin-top: px(130);

    .success-info {
      display: flex;
      flex-direction: column;
      gap: px(16);
    }

    .exchange-action {
      display: flex;
      justify-content: center;
      gap: px(40);
    }

    .receipt {
      gap: px(0);
      overflow: hidden;
      @include rounded(16);

      .confirm-product,
      .confirm-detail {
        @include rounded(0);
      }
    }
  }

  @include max-to(desktop) {
    .main-info {
      .product-info {
        .exchange {
          flex-wrap: wrap;
          gap: px(20);

          .counting {
            flex: 100%;
            justify-content: space-between;
          }
        }
      }
    }
  }

  @include max-to(mobile) {
    main {
      gap: px(40);
    }

    .main-info {
      flex-direction: column;

      .product-img {
        max-width: calc(dvw(100) - px(64));
      }

      .product-info {
        hr {
          display: none;
        }

        .exchange {
          background-color: color(gray-0);
          gap: px(36);

          button.btn-xl {
            @include button(l);
          }
        }
      }
    }

    .receipt {
      .confirm-product,
      .confirm-detail {
        padding: px(32) px(16);
      }

      .confirm-product {
        flex-direction: column;
        align-items: center;
      }
    }

    .actions {
      background-color: color(gray-0);
      gap: px(20);

      button {
        padding: px(12) px(16);
        @include fontRWD(body3);
        @include rounded(20);
      }
    }

    #exchange-failed {
      padding-top: px(96);
    }

    #exchange-success {
      .exchange-action {
        flex-direction: column-reverse;
        gap: px(20);
      }
    }
  }
}
