@import "../variable/variable";
@import "../components/button";
@import "../components/badge";
@import "../components/divider";
@import "../components/input";
@import "../components/popup";
@import "../components/select";
@import "../components/tab";

header .action .header-dropdown .point {
  cursor: default;
}

.container {
  flex-direction: column;
}

.balance {
  margin-top: spacing(96);
  background-color: color(gray-0);
  padding: spacing(16);
  @include rounded(24);
  flex: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: spacing(8);

  img {
    width: px(30);
    height: px(30);
  }
}

.mobile-menu {
  flex: 100%;
  background-color: color(gray-0);
  padding: spacing(16);
  @include rounded(24);

  li {
    display: flex;
    align-items: center;
    padding: spacing(16);
    gap: spacing(8);
    @include rounded(20);
    cursor: pointer;

    i {
      color: color(gray-500);
    }

    &:hover {
      background-color: color(primary-50);
      color: color(primary-500);

      i {
        color: color(primary-500);
      }
    }

    &.divider {
      cursor: default;
      background-color: color(gray-0);
    }
  }
}
