.badge {
  padding: spacing(4) spacing(8);
  @include rounded(4);
  background-color: color(gray-50);
  @include fontRWD(caption);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: spacing(4);

  i {
    font-size: fontsize(14) !important;
  }
}
