footer {
  background-color: color(primary-900);
  position: relative;
  padding: px(104) px(32);
  color: color(gray-50);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: px(-1);
    background-color: color(primary-50);
    height: px(40);
    border-radius: px(0) px(0) px(40) px(40);
  }

  .info {
    display: inline-flex;
    align-items: center;
    gap: px(40);

    .logo {
      height: px(35);
      cursor: pointer;
    }

    .menu {
      display: inline-flex;
      align-items: center;
      gap: px(28);
    }
  }

  @include max-to(tablet) {
    padding: px(104) px(20);

    .info {
      gap: px(20);

      .menu {
        gap: px(12);
      }
    }
  }

  @include max-to(mobile) {
    flex-direction: column;
    gap: px(64);

    .info {
      flex-direction: column;
    }
  }
}

.footer-selector {
  padding: px(13) px(28);
  background-color: color(primary-900);
  border: px(1) solid color(gray-0);
  color: color(gray-0);
  @include rounded(64);
  @include fontRWD(body3);
  cursor: pointer;
  text-align: center;
}

.footer-textlink {
  color: color(gray-50);
  @include transition(color);
  display: inline-flex;
  align-items: center;
  gap: px(8);
  cursor: pointer;
  @include fontRWD(body4);

  i {
    font-size: fontsize(20) !important;
  }

  @include hover {
    color: color(primary-200);
  }
}

copyright {
  @include fontRWD(caption);
}

#go-top {
  position: fixed;
  right: px(36);
  bottom: px(36);
  z-index: 3;
  color: color(gray-0);
  background-color: color(primary-900);
  width: px(64);
  height: px(64);
  font-size: fontsize(24);
  display: flex;
  align-items: center;
  justify-content: center;
  border: px(1) solid color(gray-0);
  @include rounded(64);
  cursor: pointer;

  @include max-to(mobile) {
    right: px(16);
    bottom: px(16);
    width: px(52);
    height: px(52);
  }
}
