footer {
  background-color: color(primary-900);
  position: relative;
  padding: px(104) px(32);
  color: color(gray-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: px(72);

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: px(-1);
    background-color: color(primary-50);
    height: px(40);
    border-radius: px(0) px(0) px(40) px(40);
  }

  .info {
    width: 100%;
    max-width: px(1200);
    display: inline-flex;
    justify-content: space-between;
    gap: px(64);

    .logo {
      height: px(35);
      cursor: pointer;
    }

    .menu {
      display: inline-flex;
      flex-direction: column;
      gap: px(12);
      flex: 1;

      li {
        @include fontRWD(h6);

        .footer-textlink {
          span {
            color: color(gray-50);
            @include transition(color);
            display: inline-flex;
            align-items: center;
            gap: px(8);
            cursor: pointer;
            @include fontRWD(body4);
            text-decoration: none;
          }

          i {
            font-size: fontsize(20) !important;
            color: color(gray-50);
            transform: none;
          }

          @include hover {
            span,
            i {
              color: color(primary-200);
            }
          }
        }
      }
    }
  }

  @include max-to(mobile) {
    gap: px(64);

    .info {
      flex-direction: row;
      flex-wrap: wrap;
      gap: px(40) px(24);

      .menu {
        flex: calc((100% - px(24)) / 2);
      }
    }
  }
}

.footer-selector {
  padding: px(13) px(28);
  background-color: color(primary-900);
  border: px(1) solid color(gray-0);
  color: color(gray-0);
  @include rounded(64);
  @include fontRWD(body3);
  cursor: pointer;
  text-align: center;
}

copyright {
  @include fontRWD(caption);
  color: color(gray-200);
}

#go-top {
  position: fixed;
  right: px(36);
  bottom: px(36);
  z-index: 3;
  color: color(gray-0);
  background-color: color(primary-900);
  width: px(64);
  height: px(64);
  font-size: fontsize(24);
  display: flex;
  align-items: center;
  justify-content: center;
  border: px(1) solid color(gray-0);
  @include rounded(64);
  cursor: pointer;

  @include max-to(mobile) {
    right: px(16);
    bottom: px(16);
    width: px(52);
    height: px(52);
  }
}
