.container {
  width: px(1200);
  margin: auto;
  display: flex;
  gap: px(16);
  min-height: calc(dvh(100) - px(390));

  @include max-to(desktop) {
    width: calc(dvw(100) - px(320));
    min-width: px(720);
  }

  @include max-to(tablet) {
    width: calc(dvw(100) - px(272));
    min-height: calc(dvh(100) - px(382));
  }

  @include max-to(mobile) {
    width: calc(dvw(100) - px(32));
    min-width: auto;
    min-height: calc(dvh(100) - px(472));
  }
}

section {
  padding: px(20);
}

ul.breadcrumbs {
  width: px(1200);
  display: none;
  align-items: center;
  margin: px(0) auto px(20);
  padding-top: px(130);
  @include fontRWD(caption);

  li {
    position: relative;
    margin-right: px(12);

    span {
      cursor: pointer;
      padding: px(0) px(4);
      @include fontRWD(caption);
    }

    &:after {
      font-family: "Material Icons";
      content: "\e5cc";
      color: color(gray-500);
      font-weight: fontweight(Regular);
      font-size: fontsize(12);
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(0, calc(-50% + px(2)));
    }

    &:last-child {
      color: color(gray-500);

      span {
        cursor: default;
      }

      &:after {
        content: "";
      }
    }
  }

  &.show {
    display: flex;
  }

  @include max-to(desktop) {
    &.show {
      width: calc(dvw(100) - px(320));
      min-width: px(720);
    }
  }

  @include max-to(tablet) {
    &.show {
      width: calc(dvw(100) - px(272));
    }
  }

  @include max-to(mobile) {
    display: flex;
    padding-top: px(96);
    width: calc(100svw - px(32));

    &.show {
      width: calc(dvw(100) - px(32));
      min-width: auto;
    }
  }
}

.page-title {
  padding-top: px(130);
  width: px(1200);
  margin: px(0) auto px(20);

  @include max-to(desktop) {
    width: calc(100svw - px(320));
    min-width: px(720);
  }

  @include max-to(tablet) {
    width: calc(100svw - px(272));
  }

  @include max-to(mobile) {
    display: none;
  }
}

#sidebar-placeholder {
  flex: 3;
  max-width: px(296);

  + main {
    flex: 9;
    max-width: px(888);
  }

  @include max-to(tablet) {
    display: none;

    + main {
      flex: 12;
    }
  }
}

main {
  flex: 12;
}

body:has(#mobile-menu) {
  .container {
    min-height: calc(dvh(100) - px(340));
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
