main {
  padding: px(32);
  @include rounded(24);
  background-color: color(gray-0);
  display: flex;
  flex-direction: column;
  gap: px(40);
  align-self: flex-start;

  @include max-to(mobile) {
    padding: px(32) px(16);
    gap: px(16);
  }
}

.main-title {
  display: flex;
  align-items: center;
  gap: px(8);

  &::before {
    content: "";
    width: px(4);
    height: px(22);
    background-color: color(gray-900);
  }
}
