@include max-to(mobile) {
    .bottom-sheet {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: px(16);
        @include dropshadow(up);
        z-index: 2;
    }
}