@import "variable/variable";
@import "components/button";
@import "components/divider";

body {
  margin: 0;
}

.container {
  margin: 0;
  padding: spacing(40) spacing(16) spacing(136);
  color: color(gray-900);
  background-color: color(gray-50);
  font-family: "Noto Sans TC", Arial, sans-serif;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  margin: px(16) 0;

  &::before {
    background-color: color(gray-900);
  }
}

.logo {
  width: px(200);
  max-width: 50%;
  margin: px(32) auto;
  text-align: center;
}

.content {
  max-width: px(600);
  margin: auto;
  box-shadow: 0 0 px(10) rgba(black, 0.05);
  background-color: color(gray-0);
  padding: spacing(32) spacing(24);
  @include rounded(16);
}

h4 {
  line-height: 150%;
  margin-top: 0;
  margin-bottom: px(8);
}

p {
  margin: 0;
  @include fontRWD(body2);

  &.serial {
    @include fontRWD(body3);
    color: color(gray-500);
  }
}

.item {
  display: flex;
  gap: spacing(16);

  &-img {
    width: px(120);
    aspect-ratio: 1;
  }

  &-info {
    flex-grow: 1;
  }
}

h5 {
  margin: spacing(8) spacing(0);
}

.point {
  display: flex;
  align-items: center;

  img {
    width: px(30);
    aspect-ratio: 1;
    margin-right: spacing(8);
  }

  h5 {
    display: inline;
  }
}

.details {
  > div {
    display: flex;
    justify-content: space-between;
    gap: spacing(16);
    margin-bottom: spacing(8);

    p {
      color: color(gray-500);
      text-align: left;
      @include fontRWD(body3);

      + p {
        color: color(gray-900);
        text-align: right;
        @include fontRWD(body3);
      }
    }
  }
}

button {
  margin-top: spacing(16);
  width: 100%;
}

.footer {
  color: color(gray-500);
  text-align: center;
  @include fontRWD(caption);
  margin-top: spacing(32);
}
